# Dependency directories
node_modules/

# Build output
dist/

# Logs
logs
*.log
npm-debug.log*

# IDE and editor folders
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# npm package files
*.tgz